*{
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    padding: 0;
    margin: 0;
    list-style:none ;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
 }
 @keyframes appear {
    0% {
       transform: translateY(30px);
    }
    100% {
       transform: translateY(0px);
    }
 }
 
 
 /*----------------------------------------------------- debut section body */
 .body
 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
 }
 
 /*---------------------------------------------------- debut section header */
 header{
    width: 100%;
    display: flex;
    padding-left: 15px;
    padding-right:15px;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
 }
 
 /* logo header */
 header #logo
 { 
    width: auto;
    margin-right: auto;
    margin-left: auto;
 }
 
 /* icone fleche de navigation  */
 .fa-arrow-lefts
 {
    font-size: large;
    font-weight: bold;
    
 }
 
 
 header  img {
    width: 150px;
 }
 
 
 /*------------------------------------------------------ section menu de la carte */
 /* Image plat restaurant */
 .card-menu-image {
    height: 220px;/*1*/
    position: relative;/*2*/
    overflow: hidden;/*3*/
 }
 
 
 .card-menu-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 
 
 /* nom restaurant */
 .nom-restaurant
 {
    width: 100%;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    top: 220px;
    font-style: italic;
 }
 
 .heart
 {
    color:grey;
    font-size: 30px;
 }
 
 .heart:hover {
    animation: fill 1s ease-out;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
 }
 
 @keyframes fill {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
 }
 
 
 /*----------------------------section menu- entrees plats desserts */
 .card-menu-text
 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    color: black;
    background-color: #f2f2f2;
    /* background-color: #d36bda; */
 }
 
 /* surlignement entrees plats et desserts */
 .séparateur 
 {
    width: 60px;
    border-top:3px solid #99E2D0;
    margin-top: -10px;
 }
 
 .menu-entrées ,.menu-plats , .menu-desserts
 {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow: hidden;
    /* background-color: orange; */
    
 }
 
 .dishes__card {
    height: 70px;
    width: 100%;
    padding-left: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px #c4c3c0;
    animation: appear 0.5s;
    animation-timing-function: ease-in-out;
    transform: translateY(0);  
 }
 .dishes__card:hover{
   cursor: pointer;
    }
 .dishes__card__txt {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .dishes__card__txt--over {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
 
 .dishes__card__price {
    margin-left: 10px;
 }
 .dishes__card__check {
    height: 70px;
    width: 60px;
    opacity: 0;
    background-color: #99E2D0;
    margin-left: 25px;
    margin-right: -70px;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease-in-out;
 }
 
 
 .dishes__card:hover :nth-child(3) {
    opacity: 1;
    margin-right: 0px;
    cursor: pointer;
 }
 
 .check_icons
 {
    transition: all 1s ease-in-out;
 }
 
 .dishes__card:hover .check_icons {
    opacity: 1;
    transform: rotate(-360deg);
    cursor: pointer;
 }
 .delay1 {
    animation-delay: 0.3s;
 }
 
 .delay2 {
    animation-delay: 0.6s;
 }
 
 .delay3 {
    animation-delay: 0.9s;
 }
 
 /* bouton commande */
 .container_btn_cmd{
    width: 100%;
    display:flex ;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color:#f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 15px;
 }
 
 .btn_cmd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    /* background-color: aqua; */
    box-shadow: 3px 3px 5px  #999;
    color: white;
    background-image: linear-gradient(to bottom right, #FF79DA  0%, #d36bda 51%, #9356DC 100%)
 }
 
 .btn_cmd:hover{
    filter: brightness(1.1);
    box-shadow: 3px 3px 5px  rgb(80, 80, 80);
 }
 
 
 
 /*
 ==========================================================================================
 Section footer
 ==========================================================================================
 */
 
 .footer__logo {
    font-size: 24px;
    font-family: "Shrikhand", sans-serif;
    color: white;
    margin-bottom: 15px;
 }
 
 footer p
 {
    display: inline;
 }
 
 footer i{
    margin-right: 10px;
    color:white;
 }
 .footercols
 {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #353535;
    gap: 20px;   
    padding: 30px;
 }
 
 .footercols a{
    color:white;
 }
 
 .footercols h3 a {
    color:white;
 }
 
 
 /*
 ==========================================================================================
 Desktop
 ==========================================================================================
 */
 @media screen and (min-width: 992px)
 {
    
    /*----------------------------------------------------- debut section body */
    .body
    {
       width: 50%;
       margin-right: auto;
       margin-left: auto;
       
    }
    
    /*---------------------------------------------------- debut section header */
    header{
       
       display: flex;
       padding-left: 15px;
       padding-right:15px;
       align-items: center;
       padding-top: 15px;
       padding-bottom: 15px;
    }
    
    /* logo header */
    header #logo
    { 
       width: auto;
       margin-right: auto;
       margin-left: auto;
    }
    /* icone header localisation */
    header i{
       font-size: 26px;
       font-weight:bolder;
       color: black;
    }
    /* icone fleche de navigation  */
    .fa-arrow-lefts
    {
       font-size: large;
       font-weight: bold;
       
    }
    /*------------------------------------------------------ section menu de la carte */
    /* Image plat restaurant */
    .card-menu-image {
       height: 300px;/*1*/
       position: relative;/*2*/
       overflow: hidden;/*3*/
    }
    .card-menu-image img {
       width: 100%;/*4*/
       /*5 - Méthode de centrage en fonction de la taille de l'image */
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
    
    /* nom restaurant */
    .nom-restaurant
    {  
       width:50%;
       display: flex;position: absolute;
       justify-content: space-between;
       align-items: center;
       background-color:#f2f2f2;
       padding-left: 15px;
       padding-right: 15px;
       border-top-left-radius: 40px;
       border-top-right-radius: 40px;
       top: 300px;
    }
    
    
    
    /*----------------------------section menu entrees - plats desserts */
    .card-menu-text
    {
       display: flex;
       flex-direction: column;
       row-gap: 60px;
       padding-left: 15px;
       padding-right: 15px;
       padding-top: 15px;
       color: black;
       background-color: #f2f2f2;
       /* background-color: #d36bda; */
       
       
    }
    
    
    .menu-entrées ,.menu-plats , .menu-desserts
    {
       display: flex;
       flex-direction: column;
       row-gap: 15px;
       overflow: hidden;
       /* background-color: orange; */
       
    }
    
    
    
    
    
    
    
    
 }
 
 /*
 ==========================================================================================
 Tablette
 ==========================================================================================
 */
 @media screen and (min-width: 767px) and (max-width:991px)
 {
    /*--------------------------------------------- section body */
    .body
    {
       width:98%;
       margin-bottom: 1%; 
    }
    
    
    
    /*----------------------------------------------- section menu de la carte */
    .nom-restaurant
    {
       width:98%;
       display: flex;
       position: absolute;
       justify-content: center;
       align-items: center;
       background-color:#f2f2f2;
       padding-left: 15px;
       padding-right: 15px;
       gap: 20px ;
       border-top-left-radius: 40px;
       border-top-right-radius: 40px;
       top: 225px;
    }
    
    .menu-entrées,.menu-plats,.menu-desserts
    {
       width: 80%;
       /* background-color: orange; */
       margin-right: auto;
       margin-left: auto;
    }
 }
 
 
 
 
 
 
 